{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Edit User: {{ user1.username }}</h1>

        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'edit_user' user1.id %}">
                    {% csrf_token %}
                    
                    <!-- Render each form field individually for more control and styling -->
                    <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}">Username:</label>
                        {{ user1.username }}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.fullname.id_for_label }}">Full Name:</label>
                        {{ form.fullname }}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.email.id_for_label }}">Email:</label>
                        {{ user1.email }}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.mobile_number.id_for_label }}">Mobile Number:</label>
                        {{ form.mobile_number }}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.collector.id_for_label }}">Collector:</label>
                        {{ form.collector }}
                    </div>

                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
